In [15]:
import pandas as pd
from datetime import datetime

In [16]:
df=pd.read_csv('C:/Users/User/API/2.csv',sep=';',encoding='cp1252')

In [17]:
df.head()

,id,periodid,startdate,enddate,disc,isGk,isShared,isUsn,isEnvd,isBudget,...,mainSystem1420,mainSystem1421,mainSystem1422,mainSystem1423,mainSystem1424,mainSystem1425,mainSystem1426,mainSystem1427,mainSystem1428,notMainSystem
0,3,20861,01.04.2017 0:00,30.04.2017 0:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,3,20862,01.05.2017 0:00,31.05.2017 0:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,20864,01.06.2017 0:00,30.06.2017 0:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,20865,01.07.2017 0:00,31.07.2017 0:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,3,20866,01.08.2017 0:00,31.08.2017 0:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
df.id.nunique()

4260

In [19]:
unique_id=df.id.unique()
unique_id

array([      3,      29,      42, ..., 1696323, 1696385, 1696463],
      dtype=int64)

In [20]:
df['enddate'] = pd.to_datetime(df.enddate, format='%d.%m.%Y %H:%M')
df['startdate']= pd.to_datetime(df.startdate, format='%d.%m.%Y %H:%M')
df['paid_time']= (pd.to_datetime(df.paidDate, format='%d.%m.%Y %H:%M')-df.startdate).dt.days

In [49]:
client_data=df.groupby('id',as_index=False).agg({'startdate':'max'}).rename({'startdate':'last_month'},axis=1)
df['last_month']=df.groupby(['id'])['startdate'].transform(max)

In [22]:
end_of_time=max(df.last_month)
end_of_time

Timestamp('2019-11-01 00:00:00')

In [23]:
df.paid_time

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
102451     NaN
102452     3.0
102453    10.0
102454    34.0
102455   -15.0
Name: paid_time, Length: 102456, dtype: float64

In [24]:
client_data['is_gone']=(client_data.last_month!='2019-11-01')

In [25]:
client_data.groupby('is_gone').count()

           id  last_month
is_gone
False    2834        2834
True     1426        1426

In [26]:
client_data.head(30)

     id last_month  is_gone
0     3 2017-12-01     True
1    29 2019-11-01    False
2    42 2019-11-01    False
3    63 2019-11-01    False
4    65 2019-11-01    False
5   102 2019-11-01    False
6   108 2019-11-01    False
7   123 2019-11-01    False
8   128 2019-11-01    False
9   132 2019-11-01    False
10  137 2019-11-01    False
11  185 2019-11-01    False
12  211 2018-09-01     True
13  246 2019-11-01    False
14  251 2019-11-01    False
15  319 2017-12-01     True
16  338 2019-11-01    False
17  342 2019-08-01     True
18  361 2019-11-01    False
19  447 2019-11-01    False
20  535 2017-12-01     True
21  538 2019-11-01    False
22  555 2019-11-01    False
23  557 2019-11-01    False
24  589 2019-11-01    False
25  612 2019-11-01    False
26  640 2019-11-01    False
27  710 2019-11-01    False
28  711 2019-11-01    False
29  712 2019-11-01    False

In [27]:
excepted_columns=['paidDate','startdate','enddate','last_month']

In [28]:
eps=1e-9
columns=list(set(list(df))-set('id'))
for id in unique_id:
    print(id,end=' ')
    for col in columns:
        if col in excepted_columns:
            continue
#         if df.loc[df.id==id].last_month.max()<end_of_time:
#             max_value=df.loc[(df.id==id)&(df.startdate>df.last_month-pd.Timedelta(days=182))][col].astype(float).max()
#             min_value=df.loc[(df.id==id)&(df.startdate>df.last_month-pd.Timedelta(days=182))][col].astype(float).min()
#             cur_value=df.loc[(df.id==id)&(df.last_month==df.startdate)][col].astype(float).max()
#         else:
        max_value=df.loc[(df.id==id)&(df.startdate>df.last_month-pd.Timedelta(days=182+45))&
                                         (df.startdate<end_of_time)][col].astype(float).max()
        min_value=df.loc[(df.id==id)&(df.startdate>df.last_month-pd.Timedelta(days=182+45))&
                                         (df.startdate<end_of_time)][col].astype(float).min()
        cur_value=df.loc[(df.id==id)&(df.startdate>df.last_month-pd.Timedelta(days=45))&
                                         (df.startdate<end_of_time)][col].astype(float).max()
            

        client_data.loc[client_data.id==id,col+'max']=(cur_value+eps)/(max_value+eps)
        client_data.loc[client_data.id==id,col+'min']=(cur_value+eps)/(min_value+eps)
        client_data.loc[client_data.id==id,col+'cur']=cur_value

3 29 42 63 65 102 108 123 128 132 137 185 211 246 251 319 338 342 361 447 535 538 555 557 589 612 640 710 711 712 722 836 851 877 894 909 914 930 962 968 969 1064 1103 1150 1211 1276 1325 1337 1345 1353 1355 1423 1458 1568 1602 1643 1776 1820 1835 1890 1907 1935 2024 2032 2055 2064 2065 2067 2071 2073 2074 2075 2076 2077 2078 2090 2129 2130 2132 2143 2145 2148 2152 2163 2244 2260 2302 2365 2368 2369 2391 2411 2416 2417 2455 2509 2532 2535 2547 2549 2596 2670 2742 2748 2787 2798 2805 2819 2820 2821 2840 2845 2871 2874 2884 2968 3012 3208 3210 3212 3227 3242 3250 3309 3342 3385 3503 3679 3815 3872 3915 4021 4026 4043 4121 4134 4149 4185 4191 4193 4194 4218 4303 4394 4412 4426 4458 4486 4488 4515 4518 4536 4541 4543 4553 4570 4614 4714 4715 4718 4725 4730 4741 4752 4766 4778 4781 4798 4800 4801 4804 4807 4825 4827 4828 4829 4842 4855 4861 4862 4872 4883 4886 4891 4950 4982 5003 5012 5016 5035 5042 5094 5111 5129 5134 5193 5222 5230 5285 5293 5297 5299 5314 5327 5331 5336 5342 5357 5395 5414 5418 5428 5446 5453 5479 5488 5538 5552 5561 5582 5589 5606 5610 5639 5646 5671 5675 5691 5693 5697 5703 5717 5776 5783 5784 5789 5792 5796 5841 5850 5854 5860 5866 5875 5889 5923 5934 5937 5944 5975 5998 6088 6143 6144 6157 6185 6205 6212 6223 6224 6230 6257 6302 6312 6326 6328 6333 6336 6339 6340 6353 6392 6411 6431 6467 6472 6536 6559 6562 6566 6567 6574 6580 6582 6595 6604 6608 6609 6623 6624 6644 6648 6657 6667 6674 6676 6701 6704 6707 6726 6728 6748 6772 6778 6799 6813 6815 6823 6849 6859 6862 6877 6886 6890 6891 6895 6901 6906 6907 6911 6927 6939 6940 6941 6946 6948 6992 7012 7024 7027 7030 7039 7042 7044 7051 7053 7055 7060 7062 7067 7072 7073 7076 7077 7080 7111 7117 7118 7127 7129 7142 7148 7153 7154 7164 7171 7176 7181 7182 7188 7189 7190 7198 7200 7207 7210 7214 7216 7218 7219 7220 7223 7225 7227 7228 7229 7230 7231 7232 7233 7234 7235 7236 7238 7246 7282 7292 7309 7312 7314 7315 7317 7318 7320 7321 7331 7332 7335 7339 7344 7347 7350 7366 7379 7395 7400 7405 7412 7413 7421 7423 7424 7429 7430 7431 7436 7443 7445 7448 7461 7464 7482 7484 7492 7495 7504 7514 7516 7517 7525 7526 7562 7577 7579 7589 7596 7598 7627 7632 7634 7638 7641 7648 7660 7683 7687 7688 7708 7710 7712 7722 7723 7724 7729 7748 7764 7776 7797 7798 7854 7862 7866 7868 7870 7872 7874 7881 7885 7888 7896 7904 7912 7916 7918 7920 7922 7927 7942 7959 7964 7982 7988 8003 8004 8008 8012 8018 8022 8027 8039 8040 8092 8093 8098 8110 8112 8121 8123 8137 8145 8149 8159 8165 8177 8189 8193 8197 8210 8213 8231 8241 8259 8263 8265 8268 8280 8281 8285 8288 8297 8302 8305 8306 8314 8338 8359 8362 8369 8377 8379 8407 8418 8444 8448 8451 8453 8457 8460 8472 8473 8475 8491 8494 8496 8507 8512 8516 8530 8538 8545 8552 8554 8561 8563 8592 8599 8620 8624 8629 8634 8636 8649 8656 8657 8659 8688 8693 8708 8712 8734 8751 8760 8761 8771 8792 8794 8807 8811 8814 8822 8829 8839 8840 8845 8847 8867 8869 8870 8871 8891 8908 8910 8913 8914 8919 8935 8941 8943 8952 8953 8983 8998 9000 9003 9005 9006 9025 9029 9033 9062 9064 9076 9077 9078 9103 9118 9121 9122 9126 9134 9137 9143 9145 9153 9183 9185 9186 9191 9218 9232 9234 9235 9252 9284 9285 9286 9287 9293 9323 9330 9335 9341 9343 9344 9348 9351 9365 9369 9381 9396 9408 9432 9439 9443 9446 9449 9451 9453 9456 9463 9465 9466 9469 9472 9473 9478 9483 9491 9512 9517 9521 9524 9538 9540 9546 9577 9586 9587 9588 9589 9590 9591 9592 9593 9598 9599 9607 9608 9609 9618 9619 9620 9621 9622 9623 9624 9625 9626 9627 9629 9630 9631 9634 9635 9640 9644 9645 9646 9653 9654 9655 9656 9657 9660 9661 9662 9663 9664 9665 9666 9673 9674 9675 9676 9677 9686 9708 9711 9715 9718 9722 9724 9730 9754 9781 9796 9798 9803 9831 9834 9849 9858 9880 9909 9910 9976 10005 10010 10039 10044 10058 10070 10112 10114 10122 10140 10167 10180 10198 10262 10276 10289 10297 10331 10333 10339 10341 10343 10372 10374 10378 10394 10402 10404 10408 10416 10423 10425 10429 10460 10464 10473 10481 10491 10509 10512 10517 10520 10529 10540 10560 10610 10612 10638 10650 10664 10683 10707 10717 10725 10774 10775 10780 10783 10840 10841 10842 10846 10900 10911 10922 10927 10929 10940 10941 10950 10966 11022 11073 11127 11132 11137 11167 11237 11244 11246 11250 11286 11288 11295 11298 11334 11337 11347 11350 11383 11410 11423 11473 11475 11480 11486 11489 11496 11498 11502 11503 11508 11512 11513 11539 11571 11583 11650 11658 11668 11680 11687 11706 11729 11742 11775 11787 11789 11817 11825 11833 11865 11895 11907 11913 11914 11918 11925 11947 11948 11949 11950 11951 11953 11954 11955 11956 11957 11958 11959 11960 11962 11963 11964 11965 11966 11967 11968 11969 11970 11971 11972 11973 11974 11975 11976 11977 11978 11979 11980 11981 11983 11984 11985 11986 11987 11988 11989 11990 11991 11992 11993 11994 11995 11996 11997 12047 12048 12075 12129 12160 12187 12189 12235 12245 12260 12264 12292 12313 12324 12327 12373 12408 12410 12432 12482 12507 12537 12567 12588 12626 12654 12684 12722 12727 12731 12743 12897 12908 12909 12910 12939 12954 12995 13001 13046 13058 13087 13142 13143 13686 13691 13723 13763 13770 13785 13794 13796 13798 13804 13824 13840 13850 13851 13860 13872 13880 13905 13923 13927 13937 13938 13939 13941 13942 13943 13946 13968 13972 13980 14005 14015 14033 14051 14055 14059 14067 14085 14120 14126 14129 14137 14138 14140 14160 14195 14204 14214 14215 14216 14225 14231 14233 14237 14238 14255 14274 14276 14327 14337 14350 14357 14367 14387 14392 14411 14438 14456 14500 14517 14519 14540 14575 14576 14619 14636 14649 14675 14706 14769 14801 14875 14904 14940 14968 15002 15034 15079 15243 15287 15344 15380 15425 15454 15459 15470 15477 15496 15552 15605 15631 15643 15665 15666 15713 15784 15847 15879 15906 15913 15918 15922 15925 15972 16016 16049 16051 16067 16072 16126 16127 16144 16164 16182 16219 16228 16235 16238 16239 16240 16241 16242 16243 16244 16256 16272 16311 16312 16347 16384 16387 16394 16395 16434 16442 16461 16512 16607 16610 16611 16627 16644 16653 16655 16669 16670 16671 16672 16673 16674 16675 16676 16677 16678 16679 16680 16681 16682 16683 16684 16685 16686 16687 16688 16689 16690 16691 16692 16693 16694 16695 16696 16697 16698 16699 16700 16701 16702 16704 16705 16706 16709 16710 16713 16715 16727 16732 16733 16735 16737 16750 16762 16780 16795 16807 16808 16811 16816 16819 16821 16825 16830 16834 16900 16950 16951 16974 16988 16997 17008 17009 17010 17012 17013 17016 17018 17048 17066 17068 17069 17076 17087 17099 17140 17148 17151 17153 17173 17192 17203 17214 17219 17238 17239 17243 17244 17248 17264 17269 17305 17313 17315 17318 17319 17321 17322 17370 17371 17374 17397 17398 17405 17412 17416 17421 17427 17437 17443 17449 17450 17455 17459 17468 17470 17474 17475 17476 17477 17478 17479 17482 17490 17491 17492 17494 17497 17499 17501 17504 17508 17529 17530 17531 17542 17552 17569 17576 17606 17643 17650 17668 17687 17690 17706 17740 17788 17794 17805 17814 17823 17824 17855 17867 17871 17879 17883 17915 17927 17929 17958 17966 17985 18012 18067 18068 18071 18108 18155 18159 18167 18176 18180 18181 18182 18189 18197 18247 18252 18253 18254 18255 18257 18258 18259 18260 18261 18262 18263 18264 18265 18266 18267 18268 18284 18292 18293 18294 18295 18296 18297 18298 18299 18301 18302 18303 18304 18311 18398 18400 18401 18404 18416 18423 18462 18476 18477 18552 18554 18560 18577 18602 18621 18641 18642 18679 18696 18704 18771 18772 18784 18785 18891 18897 18966 18972 19032 19068 19073 19148 19174 19208 19212 19244 19281 19291 19295 19299 19302 19311 19319 19320 19331 19354 19369 19396 19461 19485 19519 19547 19601 19630 19735 19742 19788 19802 19823 19841 19947 19993 20000 20001 20003 20004 20007 20024 20034 20038 20049 20050 20062 20116 20234 20251 20253 20267 20302 20303 20322 20330 20345 20347 20349 20354 20374 20415 20421 20458 20473 20522 20583 20602 20637 20667 20703 20724 20739 20740 20741 20747 20800 20802 20811 20823 20832 20848 20872 20880 20882 20886 20888 20902 20908 20916 20940 20944 20947 20990 20993 20996 20999 21000 21001 21002 21003 21004 21005 21009 21018 21030 21032 21035 21036 21037 21038 21045 21070 21097 21099 21107 21146 21221 21228 21231 21275 21284 21286 21289 21292 21296 21297 21298 21300 21305 21306 21333 21341 21361 21364 21370 21393 21396 21402

21409 21414 21418 21459 21464 21465 21484 21496 21497 21498 21499 21511 21514 21580 21596 21597 21600 21601 21607 21611 21626 21627 21637 21638 21651 21660 21661 21681 21686 21706 21722 21750 21751 21763 21766 21780 21783 21809 21812 21813 21816 21821 21867 21900 21902 21936 21947 21948 21994 22035 22039 22069 22071 22126 22129 22132 22133 22134 22135 22142 22146 22149 22152 22172 22179 22201 22222 22228 22236 22238 22250 22255 22294 22315 22334 22366 22388 22397 22454 22469 22480 22481 22482 22483 22493 22517 22544 22551 22565 22591 22601 22647 22654 22745 22778 22783 22822 22836 22871 22919 22925 22992 23105 23129 23130 23131 23174 23265 23288 23329 23358 23363 23364 23369 23390 23445 23466 23505 23544 23599 23632 23633 23634 23637 23659 23718 23720 23758 23762 23766 23767 23772 23775 23778 23815 23817 23825 23864 23877 23888 23889 23897 23898 23911 23916 23923 23927 23937 23938 23945 23952 23962 23995 24093 24124 24136 24185 24186 24207 24228 24252 24284 24311 24327 24353 24391 24410 24411 24515 24553 24560 24600 24632 24658 24685 24694 24716 24720 24725 24727 24733 24734 24736 24765 24783 24784 24790 24796 24807 24823 24825 24826 24852 24853 24854 24855 24856 24876 24905 24925 24926 24935 24945 24955 24985 25002 25007 25015 25053 25099 25104 25106 25121 25127 25131 25164 25201 25231 25232 25240 25241 25242 25243 25244 25245 25259 25292 25311 25323 25335 25365 25376 25384 25386 25454 25481 25492 25493 25494 25513 25527 25531 25562 25588 25590 25591 25594 25600 25601 25634 25644 25651 25662 25731 25732 25733 25734 25735 25749 25750 25760 25782 25799 25800 25801 25803 25806 25847 25862 25899 25904 25905 25930 25962 25969 26009 26026 26032 26033 26034 26035 26036 26038 26039 26052 26058 26074 26095 26104 26134 26145 26190 26191 26200 26222 26230 26263 26264 26283 26284 26285 26286 26287 26288 26289 26290 26291 26294 26295 26296 26297 26298 26299 26300 26346 26350 26387 26389 26404 26409 26413 26425 26452 26453 26462 26463 26498 26544 26573 26604 26629 26664 26670 26697 26722 26747 26753 26755 26756 26757 26758 26759 26760 26761 26769 26779 26788 26922 26925 26968 26975 26997 27019 27056 27058 27059 27060 27093 27124 27131 27132 27137 27165 27187 27200 27222 27263 27286 27288 27290 27427 27436 27445 27546 27547 27555 27579 27587 27593 27608 27621 27640 27718 27880 27884 27908 27914 27935 27942 27957 27966 28007 28019 28046 28294 28302 28338 28360 28369 28384 28424 28437 28511 28533 28602 28651 28671 28681 28707 28722 28747 28799 28809 28884 28899 28901 28919 28972 28973 28981 28996 28997 29005 29058 29076 29094 29101 29185 29189 29203 29227 29249 29274 29296 29307 29412 29421 29464 29480 29484 29498 29510 29516 29532 29540 29544 29580 29584 29590 29622 29646 29665 29680 29758 29792 29815 29828 29836 29841 29859 29877 29881 29899 29979 29996 30018 30020 30022 30060 30061 30069 30073 30102 30103 30112 30164 30205 30251 30281 30316 30367 30405 30433 30448 30454 30461 30548 30552 30600 30604 30660 30663 30668 30669 30693 30793 30801 30802 30837 30839 30840 30841 30842 30843 30844 30845 30846 30865 30882 30883 30884 30904 30909 30943 31023 31038 31073 31099 31109 31145 31182 31192 31198 31209 31245 31261 31264 31288 31292 31325 31375 31392 31396 31398 31403 31419 31497 31514 31537 31606 31607 31615 31715 31734 31804 31808 31831 31874 32041 32109 32199 32215 32220 32227 32261 32278 32304 32309 32317 32328 32352 32360 32387 32392 32415 32444 32450 32493 32494 32495 32497 32500 32531 32534 32553 32562 32575 32623 32644 32651 32656 32660 32672 32718 32739 32746 32747 32762 32763 32818 32843 32846 32849 32905 32906 32915 32921 32944 32993 33086 33098 33152 33163 33233 33257 33290 33293 33298 33342 33359 33465 33485 33520 33539 33595 33599 33605 33695 33729 33751 33774 33787 33794 33799 33826 33923 34001 34035 34119 34122 34129 34220 34221 34222 34226 34259 34288 34354 34362 34364 34400 34420 34435 34439 34467 34468 34469 34478 34506 34516 34555 34564 34599 34601 34610 34628 34647 34667 34668 34669 34674 34706 34748 34864 34887 34908 34997 34998 35000 35003 35009 35016 35157 35276 35306 35309 35317 35319 35349 35358 35436 35462 35468 35502 35519 35521 35549 35573 35629 35632 35737 35752 35891 35961 36056 36058 36170 36200 36203 36263 36272 36288 36314 36344 36360 36383 36391 36402 36409 36425 36431 36438 36458 36466 36650 36651 36654 36655 36657 36694 36699 36701 36731 36862 36899 36912 36919 36922 36928 36929 36930 36931 36938 36947 36952 36962 36973 36974 37049 37077 37084 37091 37104 37137 37207 37216 37234 37257 37258 37284 37291 37292 37294 37296 37302 37305 37307 37330 37336 37338 37339 37341 37405 37557 37647 37661 37740 37742 37763 37769 37787 37815 37862 37874 37896 37898 37909 37910 37915 37923 37935 37965 37994 38020 38093 38165 38218 38236 38249 38309 38375 38390 38461 38484 38546 38604 38607 38618 38621 38671 38689 38744 38762 38789 38906 38921 38984 39020 39040 39071 39072 39095 39108 39138 39209 39220 39262 39350 39390 39400 39404 39469 39489 39490 39563 39616 39622 39623 39658 39659 39663 39665 39713 39721 39769 39786 39787 39947 39962 39964 39981 39982 40006 40027 40056 40067 40075 40081 40148 40152 40198 40255 40363 40383 40467 40497 40510 40512 40517 40526 40571 40618 40635 40651 40683 40686 40732 40771 40825 40931 40939 41081 41120 41183 41204 41208 41212 41514 41552 41557 41588 41594 41598 41658 41664 41675 41676 41725 41858 41924 41981 42003 42024 42030 42097 42101 42129 42132 42139 42148 42149 42184 42253 42294 42301 42309 42325 42333 42345 42355 42356 42359 42377 42384 42388 42413 42416 42551 42663 42793 42822 42856 42872 42881 42902 42906 42915 42944 43144 43158 43194 43201 43234 43237 43256 43287 43314 43353 43354 43479 43485 43534 43548 43571 43582 43637 43658 43726 43727 43742 43814 43836 43900 43912 43982 43996 44007 44013 44025 44029 44116 44210 44212 44295 44297 44310 44351 44388 44391 44411 44430 44434 44478 44526 44575 44624 44625 44626 44627 44628 44630 44631 44633 44634 44691 44764 44788 44865 44923 44938 45008 45009 45032 45075 45138 45195 45252 45305 45357 45424 45433 45501 45512 45531 45623 45631 45753 45790 45879 45900 46002 46038 46049 46188 46200 46324 46393 46406 46491 46572 46631 46688 46742 46755 46759 46778 46782 46883 46952 46956 46959 46966 46974 47017 47021 47076 47080 47093 47161 47164 47202 47233 47311 47355 47406 47461 47473 47493 47552 47583 47709 47777 47784 47833 47881 47882 47906 47983 47986 48294 48315 48347 48368 48369 48371 48373 48375 48376 48377 48379 48381 48421 48479 48481 48491 48501 48535 48538 48549 48613 48699 48713 48734 48786 48813 48832 48941 49018 49028 49033 49047 49062 49084 49185 49201 49231 49233 49284 49287 49357 49503 49524 49535 49542 49639 49682 49693 49728 49810 49864 49917 49932 49948 49949 49950 49958 49961 49969 49972 49987 50000 50004 50005 50007 50009 50012 50013 50014 50016 50017 50018 50019 50020 50021 50022 50023 50024 50025 50026 50027 50030 50031 50032 50033 50034 50035 50038 50039 50044 50058 50059 50062 50063 50064 50065 50066 50069 50070 50071 51157 51806 51810 51831 51839 53447 53496 53497 53647 56411 56686 56718 56719 61280 68299 71806 73713 81512 85896 88812 88813 91652 91654 95350 100350 102072 106900 106902 125972 130421 131676 132223 132275 132279 132282 132385 132386 132392 134523 134534 137479 138842 141680 154427 154440 158417 158422 158450 158545 158567 158602 158606 159158 164978 165026 165028 165677 165683 165936 165937 165947 165948 166659 166660 166664 175941 177958 177965 178581 178637 179166 179414 179416 179422 179423 179425 179429 179432 189026 190385 190594 190606 190610 190613 190702 190816 191120 191370 191383 191403 191479 191517 191523 191528 191658 191666 192493 192515 193850 194496 213962 216716 216905 217920 218058 218061 218065 218347 218421 220437 220592 220598 220599 220605 232343 232988 233235 233252 233282 233378 233748 233766 233892 233924 233927 233949 234020 234194 234195 234651 234652 234653 234654 234655 234656 234657 234658 234659 234661 234662 234663 234664 234665 234666 234667 234668 234669 234670 234671 234755 235127 235128 235129 235130 235131 235132 235133 235134 235137 235138 235139 235140 235141 235142 235144 254813 254815 267111 279399 279408 279411 279415 279947 280172 280178 298813 299713 310920 310949 311046 311225

311231 311234 311237 313109 313160 313163 313742 321236 321239 322850 328870 331652 331656 331658 331662 331665 347104 347105 347111 347112 347113 352718 352720 353651 354592 355333 360803 360804 360810 362486 366876 366880 366964 366967 366969 366990 367028 367029 367169 367607 367686 367703 374004 374005 374099 374280 374286 374292 374295 374296 374324 374354 374409 374589 374623 374625 374626 374627 374628 382004 392255 392261 392262 392268 392271 392275 392279 392283 392293 392304 392316 392322 392492 392567 392569 392571 392573 392574 392803 401496 414053 417401 417404 417428 417595 417605 469962 470668 472106 484902 484909 495236 495254 495262 495443 495444 495457 495463 495469 495486 495489 525119 525133 553354 553363 553561 553565 553593 553798 553868 553869 553881 553884 554329 554508 614841 637904 637923 637935 637941 637944 637945 637948 637949 637954 637956 637957 637958 638161 640478 642712 642842 642947 642983 662307 662334 662431 662591 662600 662602 662712 662909 663093 680987 680996 715684 715685 742099 745368 746355 749418 750272 750363 750378 750387 750389 750559 750606 750617 750635 750878 750900 750912 750920 750933 816452 816461 816607 816655 816656 816661 816725 816764 816775 816778 816916 820930 821042 821140 821292 842148 842153 842192 858561 858566 858618 858906 858947 859097 866771 868464 880206 880211 880213 880349 880468 880487 880495 880502 880621 880624 880656 880700 880705 880706 880709 903002 924179 924229 924231 924765 924951 925010 925011 925014 925015 925016 925018 925170 925171 925179 925296 925298 925301 925333 925846 925848 925955 926363 926604 926606 926881 926903 927289 927311 927387 927434 927448 927531 927603 927633 927800 927803 927810 928284 928292 928297 930124 932926 934802 937772 939358 939635 941327 941330 941332 941333 941334 941335 941336 941337 941340 941346 949945 949949 950169 970297 970415 970419 970510 970514 970534 970535 970536 970537 970538 970539 970540 970541 970628 970638 970649 985281 985302 985310 985461 985462 985468 985470 985539 985589 985723 985789 985810 986288 986312 986446 986451 986462 986464 986596 987346 987369 987578 987581 995739 996051 996140 996165 996258 996261 996262 996268 996270 996277 996426 996431 996932 996938 1000662 1000667 1000668 1000690 1039183 1039511 1039913 1040048 1040064 1040068 1040369 1040745 1056126 1085951 1086366 1086431 1086486 1086500 1086532 1086540 1086541 1086547 1086596 1086705 1087106 1087363 1087471 1088087 1088208 1088264 1089159 1089350 1089352 1089353 1089461 1089723 1089724 1089760 1089761 1089773 1090316 1090322 1090326 1090627 1090877 1090891 1090892 1090895 1090897 1090901 1090902 1090942 1091017 1091053 1091112 1091139 1091178 1096069 1096278 1096550 1096683 1096780 1096782 1097727 1097729 1097879 1098258 1098648 1098651 1098657 1098658 1098668 1098831 1098947 1099907 1099930 1099931 1099934 1099938 1099944 1099950 1099959 1099986 1099995 1100005 1100029 1100083 1100842 1100845 1101606 1101760 1101848 1166145 1166146 1166151 1166226 1166849 1166861 1166947 1166975 1166976 1166988 1167025 1224841 1282813 1323099 1323105 1323655 1323660 1323675 1323684 1323802 1323879 1332954 1334169 1334705 1338413 1366804 1366995 1367016 1367065 1367591 1367632 1367638 1367662 1367869 1367899 1373141 1373168 1373229 1373231 1373238 1373521 1373700 1375814 1376043 1377040 1377143 1377145 1377172 1377175 1377198 1377199 1377200 1377308 1377337 1377768 1378094 1378210 1378452 1378766 1378767 1378784 1378789 1385648 1386036 1386046 1386052 1386053 1389319 1389336 1389376 1389385 1390273 1390847 1391340 1392129 1392572 1392574 1392636 1392638 1392655 1392681 1392805 1393328 1400189 1423545 1431661 1439132 1439752 1439792 1439820 1439824 1439829 1439896 1440646 1440708 1441030 1441110 1441765 1441792 1442578 1442676 1442861 1442974 1442983 1443053 1443056 1443099 1443120 1443194 1443218 1443339 1443410 1444247 1446196 1446270 1446291 1446305 1446306 1446369 1446370 1446371 1446372 1446375 1446376 1446380 1446386 1447867 1450156 1450165 1450635 1450706 1450708 1450720 1450742 1450855 1451431 1452061 1452216 1452220 1452299 1452317 1452346 1452801 1454681 1455012 1455610 1467829 1468193 1469906 1469925 1470646 1470677 1470697 1471027 1471714 1471804 1471808 1471898 1471905 1471981 1472462 1485567 1485709 1485802 1485889 1486006 1486330 1486435 1486569 1486571 1486573 1486675 1486876 1486975 1487814 1489008 1489009 1489012 1489111 1489115 1489117 1489135 1489250 1489263 1489265 1489423 1489425 1489962 1490530 1490659 1491391 1491487 1491871 1492700 1493823 1494209 1494279 1497717 1498103 1498988 1501653 1501799 1501858 1503107 1505990 1506637 1506638 1506640 1506641 1506642 1526109 1526110 1526135 1531180 1531780 1531888 1532302 1532305 1532306 1532346 1532347 1535226 1535334 1535354 1535367 1535408 1540533 1540660 1540877 1546744 1546745 1546746 1546877 1546934 1546935 1546937 1546938 1547086 1547600 1547663 1547693 1547770 1547854 1548521 1550545 1550600 1550830 1550849 1551294 1552090 1552300 1553069 1553161 1553694 1554064 1554065 1554326 1554336 1554345 1554486 1554512 1554727 1554731 1554732 1554755 1554760 1554762 1554911 1555199 1555200 1555202 1555213 1555486 1555604 1555621 1555629 1555630 1556543 1556544 1556562 1556563 1556635 1556783 1556917 1556942 1557701 1557702 1557730 1557731 1557732 1557868 1557869 1558003 1559235 1559291 1559303 1559326 1559927 1559930 1559931 1559938 1559939 1559942 1559943 1560243 1560245 1560246 1560248 1560250 1560251 1560377 1560552 1560553 1560554 1560560 1560572 1560799 1560800 1560801 1560806 1560807 1562975 1565764 1565765 1565768 1565774 1565787 1565788 1565789 1565790 1566222 1566992 1567410 1567413 1567518 1568459 1568501 1568503 1568507 1568522 1568523 1568610 1569053 1569276 1569281 1570141 1570155 1570157 1570160 1570161 1570169 1570823 1570826 1570829 1570830 1570885 1572190 1572207 1572247 1572254 1572277 1572312 1572350 1572353 1572371 1572402 1572711 1576076 1576079 1576098 1576972 1577028 1577977 1578390 1578392 1578395 1578405 1578406 1579713 1579768 1579851 1580131 1580241 1581913 1582251 1582264 1582493 1582572 1582595 1582615 1582632 1582656 1582666 1582825 1582833 1583540 1583546 1583875 1584025 1584027 1584037 1584730 1584974 1584978 1585090 1585354 1585989 1586340 1586381 1586934 1586938 1586940 1586946 1587464 1587466 1587710 1588626 1588664 1588689 1588749 1588944 1588975 1589448 1589450 1590390 1590549 1590606 1590613 1590615 1590636 1590644 1590656 1590664 1590675 1590684 1590687 1590688 1590694 1590698 1590708 1590709 1590723 1591408 1591624 1591626 1591627 1591630 1591639 1591650 1591651 1591657 1591665 1591666 1591671 1591700 1591714 1591715 1591717 1591746 1591753 1591754 1592899 1592905 1592906 1597142 1597143 1597151 1597152 1597156 1597158 1597333 1598052 1598084 1598088 1598875 1598881 1598902 1598912 1600016 1600017 1600258 1600385 1600652 1600657 1600662 1600667 1600671 1600708 1600714 1600724 1600744 1601099 1601304 1601379 1601382 1601385 1601395 1601806 1602168 1602197 1603067 1603408 1603519 1603544 1603546 1603554 1603557 1603564 1603570 1603572 1603924 1603928 1604034 1604036 1604038 1604048 1604050 1604057 1604058 1604436 1604570 1606505 1606539 1606847 1606866 1606880 1606889 1606890 1606894 1606895 1607128 1607137 1607144 1607145 1607146 1607187 1607189 1607222 1607232 1607705 1607706 1607710 1607996 1608957 1609164 1609233 1609246 1609753 1609781 1610125 1610271 1610273 1610812 1611276 1611277 1611280 1611287 1611289 1611751 1611756 1611757 1611763 1611764 1611765 1611767 1611769 1611771 1611774 1611790 1611794 1611803 1611808 1611816 1611825 1611879 1611880 1613038 1613900 1613902 1613954 1614017 1614028 1614055 1614067 1614078 1614088 1614112 1614117 1614124 1614131 1614141 1614142 1614145 1614146 1614149 1614154 1614156 1614170 1614171 1614176 1614183 1614184 1614195 1614198 1614199 1614206 1614207 1614208 1614216 1614219 1614222 1614225 1614229 1614230 1614595 1614991 1614996 1614999 1615001 1615002 1615006 1615015 1615016 1615024 1615028 1615029 1617346 1617347 1618361 1618362 1618363 1618368 1618369 1618379 1618385 1618387 1618391 1618392 1618395 1618774 1618777 1618779 1618781 1618786 1618790 1618791 1618792 1618794 1619122 1619123 1619125 1619129 1619133

1619138 1619139 1619142 1619143 1619148 1619150 1619151 1619153 1619156 1619158 1619161 1619162 1619163 1620720 1622477 1622481 1622484 1622485 1622487 1622498 1622503 1622520 1622527 1626377 1627468 1627502 1628924 1628926 1629624 1629627 1629629 1629636 1629638 1629644 1629650 1629660 1629667 1629669 1629671 1630843 1630866 1630867 1631845 1631847 1631850 1631851 1631859 1632872 1632875 1632881 1632882 1632884 1632885 1633412 1633420 1633430 1633435 1633800 1633807 1633808 1633809 1633813 1633814 1633957 1633961 1633964 1633970 1633976 1633977 1633980 1633981 1633996 1634006 1634008 1634009 1634011 1634014 1634016 1634017 1634020 1634536 1634537 1634540 1634552 1634553 1634557 1634559 1634565 1634566 1634573 1634576 1634580 1634586 1634591 1634592 1634593 1634594 1634967 1635288 1636503 1637118 1637121 1637124 1637126 1637127 1637129 1637137 1637415 1637630 1637631 1637632 1637636 1637641 1637647 1637649 1637650 1637660 1637669 1637670 1638576 1638580 1639132 1639140 1639143 1639146 1639149 1639150 1639151 1639152 1639159 1639160 1640087 1640101 1640609 1641343 1641345 1641346 1641356 1641360 1641373 1641374 1641379 1641380 1642225 1642228 1642231 1642293 1642305 1642819 1642824 1642830 1643631 1643784 1643786 1643788 1643789 1643795 1644716 1644721 1650324 1653361 1653363 1654370 1654838 1654839 1654846 1654852 1654853 1655120 1655122 1655131 1656134 1656136 1656143 1656148 1656678 1656679 1656684 1656758 1656759 1658035 1658764 1659072 1659077 1659094 1659096 1659102 1660255 1660689 1661196 1661607 1661620 1662139 1662140 1662153 1662169 1662176 1662669 1662673 1662692 1662697 1663689 1663691 1663710 1663713 1663720 1664387 1664392 1664399 1664850 1664854 1664856 1664862 1664984 1664987 1665258 1665589 1665592 1665593 1665596 1665597 1665601 1665602 1665630 1666037 1666038 1666580 1666581 1666589 1666590 1666597 1666607 1666609 1666620 1667893 1667903 1667924 1667926 1667933 1667934 1668807 1668828 1668832 1668836 1668841 1670156 1670170 1670174 1670645 1670649 1670653 1670655 1670664 1670667 1670669 1670676 1670684 1670685 1670688 1670689 1670690 1670698 1670738 1670741 1671316 1671320 1671326 1671345 1671346 1671347 1671357 1671366 1671771 1671828 1671848 1672162 1673264 1673278 1673304 1673317 1673322 1673330 1673339 1673349 1673395 1673440 1673448 1673550 1673552 1673553 1673572 1673588 1673621 1674090 1674092 1674099 1674102 1674114 1674699 1674931 1675214 1675220 1675223 1675231 1675234 1675246 1675247 1675253 1675280 1675282 1675283 1675293 1675594 1675635 1675636 1675638 1675958 1676180 1676181 1676182 1676184 1676693 1677041 1677668 1677676 1681724 1681736 1681740 1681749 1683259 1683572 1683579 1684113 1684272 1684274 1684651 1684656 1689503 1689511 1689521 1689528 1689959 1689984 1690027 1691304 1692840 1692841 1692845 1692846 1694902 1694910 1694917 1694948 1696287 1696317 1696323 1696385 1696463

In [ ]:
client_data.shape

In [ ]:
client_data1=client_data.fillna(0)

In [ ]:
from sklearn.model_selection import train_test_split
import random
import numpy as np
import torch
from torch.optim import Adam, lr_scheduler

random.seed(1234)
np.random.seed(1234)
torch.manual_seed(1234)
torch.cuda.manual_seed(1234)
torch.backends.cudnn.deterministic = True

In [ ]:
X=client_data1.drop(['is_gone','last_month','id'],axis=1)
y=client_data1.is_gone

In [ ]:
X.shape,y.shape

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
X_train.shape

In [ ]:
X_train=torch.DoubleTensor(X_train.values)
X_test=torch.DoubleTensor(X_test.values)
y_train=torch.LongTensor(y_train.values)
y_test=torch.LongTensor(y_test.values)

In [ ]:
X_train.shape

In [ ]:
batch_size=3408
lr=1e-4
num_epoch=3000
step_size=200
gamma=0.7

In [ ]:
class API_net(torch.nn.Module):
    def __init__(self):
        super(API_net,self).__init__()
        self.fc1=torch.nn.Linear(264,600)
        self.act1=torch.nn.ReLU()
        self.fc2=torch.nn.Linear(600,600)
        self.act2=torch.nn.Tanh()
        self.fc3=torch.nn.Linear(600,600)
        self.act3=torch.nn.Sigmoid()
        self.fc4=torch.nn.Linear(600,2)
    
    def forward(self,x):
        x=self.fc1(x)
        x=self.act1(x)
        x=self.fc2(x)
        x=self.act2(x)
        x=self.fc3(x)
        x=self.act3(x)
        x=self.fc4(x)
        return x

model=API_net().double()

In [ ]:
model=API_net().double()
device=torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')
loss=torch.nn.CrossEntropyLoss()
optimizer=torch.optim.Adam(model.parameters(),lr=lr)
scheduler = lr_scheduler.StepLR(optimizer,
                                step_size=step_size,
                                gamma=gamma)
    
train_accuracy_history=[]
train_loss_history=[]
test_accuracy_history=[]
test_loss_history=[]
    
for epoch in range(num_epoch):
    print()
    print('Epoch {}/{}:'.format(epoch, num_epoch - 1), flush=True)
        
    for phase in ['train','test']:
        if phase=='train':
            running_loss = 0
            running_acc = 0
            order=np.random.permutation(len(X_train))
            for start_index in range(0,len(X_train),batch_size):
                optimizer.zero_grad()
                net.train()
                batch_indexes=order[start_index:start_index+batch_size]
                X_batch=X_train[batch_indexes].to(device)
                y_batch=y_train[batch_indexes].to(device)
                preds=model.forward(X_batch)
                loss_value=loss(preds,y_batch)
                preds_class=preds.argmax(dim=1)
                loss_value.backward()
                optimizer.step()
                running_loss+=loss_value.data.cpu()
                running_acc+=(preds_class==y_batch).float().mean().data.cpu()
            train_accuracy_history.append(running_acc/(len(X_train)/batch_size))
            train_loss_history.append(running_loss/(len(X_train)/batch_size))
        else:
#             continue
            net.eval()
            preds=model.forward(X_test)
            loss_value=loss(preds,y_test).data
            preds_class=preds.argmax(dim=1)
            test_accuracy_history.append((preds_class==y_test).float().mean().data)
            test_loss_history.append(loss_value)
    print('train loss ',train_loss_history[-1])
    print('train acc  ',train_accuracy_history[-1])
    print('test loss  ',test_loss_history[-1])
    print('test acc   ',test_accuracy_history[-1])

In [ ]:
from matplotlib import pyplot as plt
history=[train_accuracy_history,train_loss_history,test_accuracy_history,test_loss_history]
titles = ['Train Accuracy', 'Train Loss', 'Val Accuracy', 'Val Loss']
plt.figure(figsize=(10, 10))
for i, image in enumerate(history):
    plt.subplot(2, 2, i+1)
    plt.title(titles[i])
    plt.grid()
    if i == 0 or i == 1:
        color = 'b'
    else:
        color = 'orange'
    plt.plot(image,c=color, label= 'mean: %.2f' % np.array(image).mean())
    plt.legend(loc='best')
plt.show()

# Рисуем совмещенные графики  Accuracy и Loss для Тренеровочной и валидационной выборки
titles_ = ['Accuracy','Loss']
plt.figure(figsize=(10, 5))
k=0
for i in range(2):
    plt.subplot(1, 2, i+1)
    plt.plot(history[0+k], label='Tain', c='b')
    plt.plot(history[2+k], label='Val', c='orange')
    plt.title(titles_[i])
    plt.grid()
    plt.legend(loc='best')
    k += 1

In [ ]:
preds=model.forward(X_test)
m = torch.nn.Softmax(dim=1)
y_predicted=m(preds)
y_predicted=y_predicted.detach().numpy()
y_predicted

In [ ]:
y_predicted[:,1].shape,y_test.shape

In [ ]:
y_predicted[:,1]

In [ ]:
from sklearn.metrics import roc_curve, auc
fpr, tpr, thresholds = roc_curve(y_test, y_predicted[:,1])
roc_auc= auc(fpr, tpr)
plt.figure()
plt.plot(fpr, tpr, color='darkorange', label='ROC curve (area = %0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.show()

In [30]:
df1=pd.read_csv('C:/Users/User/API_task/bigData_V31.csv',sep=';',encoding='cp1252')

In [31]:
df1.shape

(84651, 89)

In [32]:
unique_id=df1.id.unique()
unique_id

array([     29,      42,      63, ..., 1699789, 1699864, 1699875],
      dtype=int64)

In [33]:
df1['enddate'] = pd.to_datetime(df1.enddate, format='%d.%m.%Y %H:%M')
df1['startdate']= pd.to_datetime(df1.startdate, format='%d.%m.%Y %H:%M')
df1['paid_time']= (pd.to_datetime(df1.paidDate, format='%d.%m.%Y %H:%M')-df1.startdate).dt.days

In [35]:
client_data1=df1.groupby('id',as_index=False).agg({'startdate':'max'}).rename({'startdate':'last_month'},axis=1)
df1['last_month']=df1.groupby(['id'])['startdate'].transform(max)

In [36]:
end_of_time=max(df1.last_month)
end_of_time

Timestamp('2020-01-01 00:00:00')

In [37]:
client_data1['is_gone']=(client_data1.last_month!=end_of_time)

In [40]:
client_data1.loc[client_data1.is_gone==True]

           id last_month  is_gone
31       1325 2019-01-01     True
51       2152 2019-01-01     True
74       2871 2019-01-01     True
178      6340 2018-04-01     True
215      6927 2019-06-01     True
267      7312 2018-03-01     True
565     10638 2019-09-01     True
685     12626 2019-09-01     True
724     14216 2018-01-01     True
1059    21370 2017-06-01     True
1202    25311 2017-12-01     True
1218    25651 2019-02-01     True
1439    32818 2018-01-01     True
1444    32993 2019-09-01     True
1516    36458 2019-04-01     True
1613    40732 2019-01-01     True
1648    42872 2018-02-01     True
1670    44295 2017-10-01     True
1705    46049 2017-11-01     True
1788   159158 2019-03-01     True
1810   191370 2017-04-01     True
1917   374589 2019-01-01     True
1965   715685 2018-04-01     True
1997   868464 2017-08-01     True
2030   927803 2018-07-01     True
2230  1469906 2019-01-01     True
2297  1555486 2019-02-01     True
2368  1578395 2019-11-01     True
2419  1598912 2018-08-01     True
2452  1611771 2019-04-01     True
2615  1664854 2018-10-01     True

In [50]:
client_data.loc[client_data.last_month=='2019-11-01T00:00:00.000000000']

           id last_month
1          29 2019-11-01
2          42 2019-11-01
3          63 2019-11-01
4          65 2019-11-01
5         102 2019-11-01
...       ...        ...
4255  1696287 2019-11-01
4256  1696317 2019-11-01
4257  1696323 2019-11-01
4258  1696385 2019-11-01
4259  1696463 2019-11-01

[2834 rows x 2 columns]

In [47]:
client_data.last_month.unique()

array(['2020-01-01T00:00:00.000000000', '2019-01-01T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2019-06-01T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2019-09-01T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2017-06-01T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-04-01T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2017-10-01T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2019-03-01T00:00:00.000000000', '2017-04-01T00:00:00.000000000',
       '2017-08-01T00:00:00.000000000', '2018-07-01T00:00:00.000000000',
       '2019-11-01T00:00:00.000000000', '2018-08-01T00:00:00.000000000',
       '2018-10-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [51]:
client_data1.loc[client_data1.last_month=='2019-11-01T00:00:00.000000000']

           id last_month  is_gone
2368  1578395 2019-11-01     True