In [1]:
import pandas as pd
from datetime import datetime

In [16]:
df=pd.read_csv('C:/Users/User/API_Task/bigData_V31.csv',sep=';',encoding='cp1252')

In [17]:
df.head(50)

,id,periodid,startdate,enddate,isGk,isShared,isUsn,isEnvd,isBudget,employeerQNew,...,mainSystem1420,mainSystem1421,mainSystem1422,mainSystem1423,mainSystem1424,mainSystem1425,mainSystem1426,mainSystem1427,mainSystem1428,notMainSystem
0,29,20860,01.02.2017 0:00,28.02.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
1,29,19608,01.03.2017 0:00,31.03.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
2,29,20861,01.04.2017 0:00,30.04.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
3,29,20862,01.05.2017 0:00,31.05.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
4,29,20864,01.06.2017 0:00,30.06.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
5,29,20865,01.07.2017 0:00,31.07.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
6,29,20866,01.08.2017 0:00,31.08.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
7,29,20867,01.09.2017 0:00,30.09.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
8,29,20868,01.10.2017 0:00,31.10.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
9,29,20869,01.11.2017 0:00,30.11.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
10,29,20870,01.12.2017 0:00,31.12.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
11,29,21596,01.01.2018 0:00,31.01.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
12,29,21690,01.02.2018 0:00,28.02.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
13,29,21691,01.03.2018 0:00,31.03.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
14,29,21692,01.04.2018 0:00,30.04.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
15,29,21693,01.05.2018 0:00,31.05.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
16,29,21694,01.06.2018 0:00,30.06.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
17,29,21695,01.07.2018 0:00,31.07.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
18,29,21541,01.08.2018 0:00,31.08.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
19,29,21696,01.09.2018 0:00,30.09.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
20,29,21697,01.10.2018 0:00,31.10.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
21,29,21698,01.11.2018 0:00,30.11.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
22,29,21699,01.12.2018 0:00,31.12.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
23,29,21606,01.01.2019 0:00,31.01.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
24,29,21700,01.02.2019 0:00,28.02.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
25,29,21701,01.03.2019 0:00,31.03.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
26,29,21702,01.04.2019 0:00,30.04.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
27,29,21703,01.05.2019 0:00,31.05.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
28,29,21704,01.06.2019 0:00,30.06.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
29,29,21705,01.07.2019 0:00,31.07.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
30,29,21706,01.08.2019 0:00,31.08.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
31,29,21707,01.09.2019 0:00,30.09.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
32,29,21708,01.10.2019 0:00,31.10.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
33,29,21709,01.11.2019 0:00,30.11.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
34,29,21710,01.12.2019 0:00,31.12.2019 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
35,29,23243,01.01.2020 0:00,31.01.2020 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
36,42,20860,01.02.2017 0:00,28.02.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
37,42,19608,01.03.2017 0:00,31.03.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
38,42,20861,01.04.2017 0:00,30.04.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
39,42,20862,01.05.2017 0:00,31.05.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
40,42,20864,01.06.2017 0:00,30.06.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
41,42,20865,01.07.2017 0:00,31.07.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
42,42,20866,01.08.2017 0:00,31.08.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
43,42,20867,01.09.2017 0:00,30.09.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
44,42,20868,01.10.2017 0:00,31.10.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
45,42,20869,01.11.2017 0:00,30.11.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
46,42,20870,01.12.2017 0:00,31.12.2017 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
47,42,21596,01.01.2018 0:00,31.01.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
48,42,21690,01.02.2018 0:00,28.02.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
49,42,21691,01.03.2018 0:00,31.03.2018 0:00,0,1,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1

In [4]:
df['enddate'] = pd.to_datetime(df.enddate, format='%d.%m.%Y %H:%M')
df['startdate']= pd.to_datetime(df.startdate, format='%d.%m.%Y %H:%M')
df['paid_time']= (pd.to_datetime(df.paidDate, format='%d.%m.%Y %H:%M')-df.startdate).dt.days

In [5]:
client_data=df.groupby('id',as_index=False).agg({'startdate':'max'}).rename({'startdate':'last_month'},axis=1)
df['last_month']=df.groupby(['id'])['startdate'].transform(max)

In [6]:
end_of_time=max(df.last_month)
end_of_time

Timestamp('2020-01-01 00:00:00')

In [9]:
client_data['is_gone']=(client_data.last_month!=end_of_time)

In [10]:
client_data.groupby('is_gone').count()

           id  last_month
is_gone
False    2708        2708
True       31          31

In [12]:
client_data.loc[client_data.is_gone==True]

           id last_month  is_gone
31       1325 2019-01-01     True
51       2152 2019-01-01     True
74       2871 2019-01-01     True
178      6340 2018-04-01     True
215      6927 2019-06-01     True
267      7312 2018-03-01     True
565     10638 2019-09-01     True
685     12626 2019-09-01     True
724     14216 2018-01-01     True
1059    21370 2017-06-01     True
1202    25311 2017-12-01     True
1218    25651 2019-02-01     True
1439    32818 2018-01-01     True
1444    32993 2019-09-01     True
1516    36458 2019-04-01     True
1613    40732 2019-01-01     True
1648    42872 2018-02-01     True
1670    44295 2017-10-01     True
1705    46049 2017-11-01     True
1788   159158 2019-03-01     True
1810   191370 2017-04-01     True
1917   374589 2019-01-01     True
1965   715685 2018-04-01     True
1997   868464 2017-08-01     True
2030   927803 2018-07-01     True
2230  1469906 2019-01-01     True
2297  1555486 2019-02-01     True
2368  1578395 2019-11-01     True
2419  1598912 2018-08-01     True
2452  1611771 2019-04-01     True
2615  1664854 2018-10-01     True